*{  
    color:white;
    background-color:black;
}

a{
    color:white;
} 
h1{
    text-align: center;
}

header {
    border:1px solid red;
}

.blocdumil{
    border:1px solid red;
    height: 1000px;
}
